<div class="auth-header">
  <div class="spotify-logo">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo" class="spotify-icon">
  </div>
</div>

<div class="auth-content">
  <div class="auth-form">
    <h1 class="auth-heading">Log in to Spotify</h1>
    <ul class="auth-providers">
      <li><button class="auth-providers-button">
        <span class="google-icon"></span>
        <span class="auth-providers-text">Continue with Google</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="facebook-icon"></span>
        <span class="auth-providers-text">Continue with Facebook</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="apple-icon"></span>
        <span class="auth-providers-text">Continue with Apple</span>
      </button></li>
    </ul>
    <hr>
    <form (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field class="login-form-field" appearance="outline">
          <mat-label>Email or username</mat-label>
          <input [formControl]="authForm.controls.email" matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="login-form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input [formControl]="authForm.controls.password" [type]="isPasswordHidden ? 'password' : 'text'" matInput autocomplete="off">
          <button
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isPasswordHidden"
            mat-icon-button
            matSuffix
            type="button">
            <mat-icon class="login-hide-password">{{isPasswordHidden ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      <div class="remember-password">
        <input type="checkbox">
        <span>Remember me</span>
      </div>
      <div class="login-button">
        <button mat-flat-button color="primary" type="submit" class="login-submit">Log In</button>
      </div>
      <div class="reset-password">
        <a href="" class="reset-password-link">Forgot your password?</a>
      </div>
    </form>
    <hr>
    <div class="auth-signup">
      <h2 class="auth-signup-heading">
        <span class="auth-signup-text">Don't have an account?
        </span>
        <a href="" class="auth-signup-link">Sign up for Spotify</a>
      </h2>
    </div>
  </div>
</div>

<div class="auth-footer">
  <p class="footer-text">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
</div>
