<div class="auth-header">
  <div class="spotify-logo">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo" class="spotify-icon">
  </div>
</div>

<div class="auth-content">
  <div class="auth-form">
    <h1 class="auth-heading">Log in to Spotify</h1>
    <ul class="auth-providers">
      <li><button class="auth-providers-button">
        <span class="google-icon"></span>
        <span class="auth-providers-text">Continue with Google</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="facebook-icon"></span>
        <span class="auth-providers-text">Continue with Facebook</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="apple-icon"></span>
        <span class="auth-providers-text">Continue with Apple</span>
      </button></li>
    </ul>
    <hr>
    <div class="login-form">
      <div class="login-group">
        <div class="login-label">Email or username</div>
        <input type="text" class="login-input" placeholder="Email or username">
      </div>
      <div class="login-group">
        <div class="login-label">Password</div>
        <input type="password" class="login-input" placeholder="Password">
        <div class="hide-password"></div>
      </div>
      <div class="remember-password">
        <input type="checkbox">
        <span>Remember me</span>
      </div>
      <div class="login-button">
        <button type="submit">Log In</button>
      </div>
      <div class="reset-password">
        <a href="">Forgot your password?</a>
      </div>
    </div>
    <hr>
    <div class="auth-signup">
      <h2 class="auth-signup-heading">
        <span class="auth-signup-text">Don't have an account?
        </span>
        <a href="" class="auth-signup-link">Sign up for Spotify</a>
      </h2>
    </div>
  </div>
</div>
<div class="auth-footer">
  <p class="footer-text">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
</div>
