<div class="auth-header">
  <div class="spotify-logo">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo" class="spotify-icon">
  </div>
</div>

<div class="auth-content">
  <div class="auth-form">
    <h1 class="auth-heading">Log in to Spotify</h1>
    <ul class="auth-providers">
      <li><button class="auth-providers-button">
        <span class="google-icon"></span>
        <span class="auth-providers-text">Continue with Google</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="facebook-icon"></span>
        <span class="auth-providers-text">Continue with Facebook</span>
      </button></li>
      <li><button class="auth-providers-button">
        <span class="apple-icon"></span>
        <span class="auth-providers-text">Continue with Apple</span>
      </button></li>
    </ul>
    <hr>
  </div>
</div>

<div class="auth-footer">
  <p class="footer-text">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
</div>
