$green-spotify-palette: (
  50: #E4FAEC,
  100: #BCF3CF,
  200: #8FEBB0,
  300: #62E390,
  400: #40DD78,
  500: #1ED760,
  600: #1AD358,
  700: #16CD4E,
  800: #12C744,
  900: #0ABE33,
  A100: #E9FFED,
  A200: #B6FFC3,
  A400: #83FF9A,
  A700: #69FF85,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
