<div class="password-reset-container">
<div class="login-header">
  <div class="spotify-logo">
    <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo" class="spotify-icon">
  </div>
</div>
<div class="password-reset-content">
  <form (ngSubmit)="onSubmit()" class="reset-form">
    <h1 class="password-reset-heading">Reset your password</h1>
    <p class="password-reset-paragraph">Enter your email address or username, and we'll send you a link to get back into your account.</p>
    <mat-form-field class="reset-form-field" appearance="outline">
      <mat-label>Email or username</mat-label>
      <input [formControl]="resetForm.controls.account" matInput autocomplete="off">
    </mat-form-field>
    <p><a href="https://support.spotify.com/article/reset-password/" class="password-reset-link">Need support?</a></p>
    <div class="reset-button">
      <button mat-flat-button color="primary" type="submit" class="reset-submit">Send link</button>
    </div>
  </form>
</div>
<app-footer />
</div>
