<div class="password-reset-container">
  <div class="login-header">
    <div class="spotify-logo">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="Spotify Logo" class="spotify-icon">
    </div>
  </div>
    <div *ngIf="!isPasswordSent; else passwordSent" class="password-reset-content">
      <form (ngSubmit)="onSubmit()" class="reset-form">
        <h1 class="password-reset-heading">Reset your password</h1>
        <p class="password-reset-paragraph">Enter your email address or username, and we'll send you a link to get back into your account.</p>
        <mat-form-field class="reset-form-field" appearance="outline">
          <mat-label>Email</mat-label><!--For now-->
          <input [formControl]="resetForm.controls.account" matInput autocomplete="off">
<!--
          <mat-error *ngIf="resetForm.controls.account.errors?.required">This field is required</mat-error>
-->
        </mat-form-field>
        <p><a href="https://support.spotify.com/article/reset-password/" class="password-reset-link">Need support?</a></p>
        <div class="reset-button">
          <button mat-flat-button color="primary" type="submit" class="reset-submit">Send link</button>
        </div>
      </form>
    </div>
  <ng-template #passwordSent>
    <div class="password-reset-content">
    <div class="reset-form">
      <h1 class="password-reset-heading">Email sent</h1>
      <p class="password-reset-paragraph">We sent you an email. Follow the instructions to get back into your account.</p>
      <div class="reset-buttons">
        <button mat-flat-button color="primary" (click)="goToLoginPage()" class="reset-submit">Back to login</button>
        <button mat-flat-button color="primary" (click)="changeState()" class="reset-edit">
          <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
          Edit email/username
        </button>
      </div>
    </div>
    </div>
  </ng-template>
  <app-footer />
</div>
