@import "../../../../src/styles/variables";
@import "../../../../src/styles/mixins";

.password-reset-container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-block-size: 100%;
  overflow-wrap: break-word;
  overflow: auto;
}

.login-header {
  padding: 32px 0 32px 51px;
  background-color: $background-color;
}

.spotify-logo {
  display: flex;
}

.spotify-icon {
  width: 117px;
  height: 36px;
}

.password-reset {
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    color: white;
    background-color: $background-color;
  }

  &-heading {
    padding-bottom: 8px;
  }

  &-paragraph {
    padding-bottom: 16px;
  }

  &-link {
    color: white;
    font-size: 0.875rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.reset-form {
  width: 324px;
  height: 100%;

  &-field {
    width: 100%;
  }
}

.reset-button {
  text-align: center;
  padding: 32px 0;
}

.reset-submit {
  @include submit-button();
}
